body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#chart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
